@page
@model MyFirstProject_W2.Components.Layout.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
        <div>
            <form method="post">
                <input asp-for="Name" placeholder="Enter your name"/>
            </form>
        </div>
    </body>
</html>